BOT_TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11
ADMIN_ID=123456789
BOT_PROXY=

GHOSTGATE_URL=https://your-domain.com/yourSecretPanelPath
USDT_TRC20_ADDRESS=
USDT_BSC_ADDRESS=
USDT_POLYGON_ADDRESS=
SYNC_INTERVAL=60
LANGUAGE=en

DB_PATH=/opt/ghostpass/ghostpass.db
LOG_FILE=/var/log/ghostpass.log
